.form  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.form  div:nth-of-type(2) input {
    margin-bottom: 8px;
}

.form label {
    display: block;
}

.form div:last-of-type {
    margin-bottom: 32px;
}

.form .link {
    font-size: 14px;
}

.form .forgot-password-link {
    align-self: flex-end;
}

.form .btn {
    margin-bottom: 16px;
}
