/*--------------------
    Global styles
--------------------*/
body {
    font-family: Arial, sans-serif;
    max-width: 1920px;
}

.main {
    min-height: calc(100vh - 80px - 60px);
    display: flex;
    justify-content: center;
    padding-top: 64px;
    background-color: lavenderblush;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}

.form div {
    margin-bottom: 16px;
}

.form .title,
.form div:last-of-type {
    margin-bottom: 32px;
}

.form .errorlist li {
    color: red;
    white-space: nowrap;
}

.form input {
    width: 320px;
    height: 48px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 8px;
}

.btn {
    all: unset;
    background-color: skyblue;
    border-radius: 4px;
    padding: 8px 32px;
    cursor: pointer;
    transition: background-color 300ms linear;
    font-size: 18px;
}

.btn:hover {
    background-color: cornflowerblue;
}

/*--------------------
    Header
--------------------*/
.header {
    background-color: #24292F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 160px;
}

.header a {
    color: white;
}

.header .icon {
    font-size: 40px;
}

.header .logo-link .icon {
    vertical-align: middle;
}

.header .logo-link .text {
    display: inline-block;
    width: 94px;
    vertical-align: middle;
    line-height: 1;
    font-size: 24px;
    text-align: center;
}

.header .list {
    display: flex;
    align-items: center;
}

.header .basket-link {
    position: relative;
    display: inline-block;
}

.header .basket-link .products-count {
    position: absolute;
    display: inline-block;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 24px;
    left: 14px;
}

.header .item:not(:last-child) {
    margin-right: 32px;
}

.header .item .link {
    font-size: 18px;
}

/*--------------------
    Footer
--------------------*/
.footer {
    background-color: #24292F;
    color: white;
    font-size: 14px;
    height: 60px;
    text-align: center;
    padding: 12px 0;
    line-height: 1.3;
}
