/*--------------------
    Global styles
--------------------*/
body {
    font-family: Arial, sans-serif;
    max-width: 1920px;
}

a {
    text-decoration: none;
    padding: 4px;
}

h1 {
    font-size: 28px;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
}

h1.title,
h2.subtitle {
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
}

.icon {
    font-size: 40px;
}

.icon.icon-green {
    color: green;
}

.icon.icon-orange {
    color: orange;
}

.icon.icon-red {
    color: red;
}

.btn {
    all: unset;
    background-color: skyblue;
    border-radius: 8px;
    padding: 8px 32px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms linear;
    font-size: 18px;
}

.btn:hover {
    background-color: deepskyblue;
}

.btn.btn-green {
    background-color: #1ed237;
}

.btn.btn-yellow {
    background-color: #ffbe2f;
}

.btn.btn-red {
    background-color: #fb6750;
}

.centered-content-wrapper {
    text-align: center;
}

/*--------------------
    Header
--------------------*/
.header {
    background-color: #24292F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 120px;
}

.header a {
    color: white;
}

.header .logo-link .icon {
    vertical-align: middle;
}

.header .logo-link .text {
    display: inline-block;
    vertical-align: middle;
}

.header .list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .basket-link {
    position: relative;
    display: inline-block;
}

.header .basket-link .products-count {
    position: absolute;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 30px;
    left: 14px;
}

.header .item .link {
    font-size: 18px;
}

/*--------------------
    Main
--------------------*/
.main {
    min-height: calc(100vh - 80px - 60px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 0;
    background-color: lavenderblush;
}

/*--------------------
    Footer
--------------------*/
.footer {
    background-color: #24292F;
    color: white;
    font-size: 14px;
    height: 60px;
    text-align: center;
    padding: 14px 0;
    line-height: 1.4;
}

.footer .all-rights-reserved {
    display: block;
}
