.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 390px;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 40px;
}

.form .field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form .field-wrapper:has(input[type=file]) {
    gap: 8px;
}

.form .field-wrapper:not(:has(~ .field-wrapper)) {
    margin-bottom: 16px;
}

.form > *:not(.field-wrapper) {
    text-align: center;
}

.form .error-list .item {
    color: red;
}

.form input.default {
    height: 48px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    padding-left: 8px;
}

.form input.valid {
    border-color: green;
}

.form input.valid:focus {
    outline: 1px solid green;
}

.form input.invalid {
    border-color: red;
}

.form input.invalid:focus {
    outline: 1px solid red;
}

.form img {
    align-self: flex-start;
}

.form .link {
    align-self: center;
}
