{% load widget_tweaks %}
{% load field_tags %}

{% if form.non_field_errors %}
    {% include 'partials/list.html' with list_classes='error-list non-field' list=form.non_field_errors %}
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
    {% if field.errors %}
        {% include 'partials/list.html' with list_classes='error-list hidden-fields' list=field.errors %}
    {% endif %}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="field-wrapper">
        {{ field.label_tag }}
        {% get_field_classes field=field as field_classes %}
        {% render_field field class=field_classes %}

        {% if field.errors %}
            {% include 'partials/list.html' with list_classes='error-list visible-fields' list=field.errors %}
        {% endif %}

        {% if field.help_text %}
            <small class="help-text">
                {{ field.help_text }}
            </small>
        {% endif %}
    </div>
{% endfor %}
