{% extends 'base.html' %}
{% load static %}

{% block title %}
    Account update
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'accounts:profile update' %}" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <h1 class="title">Update your account.</h1>
        {% include 'partials/form.html' with form=form %}
        <button class="btn">Save</button>
    </form>
{% endblock %}
