{% extends 'base.html' %}
{% load static %}

{% block title %}
    Account login
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'accounts:user login' %}?next={{ next }}" method="post" class="form">
        {% csrf_token %}
        <h1 class="title">Login to your account.</h1>
        {% include 'partials/form.html' with form=form %}
        <button class="btn">Login</button>
        <a href="{% url 'accounts:user password reset' %}" class="link">Forgot password?</a>
        <a href="{% url 'accounts:user register' %}" class="link">Don't have an account?</a>
    </form>
{% endblock %}
