{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create an account
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'accounts:user register' %}" method="post" class="form">
        {% csrf_token %}
        <h1 class="title">Create an account.</h1>
        {% include 'partials/form.html' with form=form %}
        <button class="btn">Register</button>
        <a href="{% url 'accounts:user login' %}" class="link">Already have an account?</a>
    </form>
{% endblock %}
