{% extends 'base/base.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <style>
        .form label {
            display: block;
        }
    </style>

    <form action="{% url 'accounts:user password change' %}" class="form" method="post">
        {% csrf_token %}
        <h2 class="title">Change your password.</h2>
        {{ form.non_field_errors }}

        <div>
            {{ form.old_password.errors }}
            <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            {{ form.old_password }}
        </div>

        <div>
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
        </div>

        <div>
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
        </div>

        <button class="btn">Save</button>
    </form>
{% endblock %}
