{% extends 'base/base.html' %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <style>
        .form div {
            width: unset;
        }

        .form label,
        .form input {
            margin-right: 8px;
        }
    </style>

    <form action="{% url 'accounts:password reset' %}" class="form" method="post">
        {% csrf_token %}
        <h2 class="title">Enter your email address below, and we’ll email instructions for setting a new password.</h2>
        {{ form.non_field_errors }}
        <div>
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
            <button class="btn">Reset my password</button>
        </div>
    </form>
{% endblock %}
