{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'accounts:user password reset' %}" method="post" class="form">
        {% csrf_token %}
        <h1>Reset your password.</h1>
        <p>Enter your email address below, and we’ll email instructions for setting a new password.</p>
        {% include 'partials/form.html' with form=form %}
        <button class="btn">Continue</button>
    </form>
{% endblock %}
