{% extends 'base.html' %}
{% load static %}

{% block title %}
    Password reset email sent
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/accounts/user_password_reset_done.css' %}">
{% endblock %}

{% block content %}
    <h1>We’ve emailed you instructions for setting a new password.</h1>
    <div>
        <p>If you don’t receive an email:</p>
        <ol>
            <li>Make sure you’ve entered the address you registered with.</li>
            <li>Check your spam folder.</li>
        </ol>
    </div>
{% endblock %}
