{% extends 'base/base.html' %}

{% block title %}
    Set password
{% endblock %}

{% block content %}
    <style>
        .form label {
            display: block;
        }

        .main .wrapper > h2 {
            margin-bottom: 16px;
        }

        .main .wrapper > h3 {
            text-align: center;
        }
    </style>

    {% if validlink %}
        <form action="." class="form" method="post">
            {% csrf_token %}
            <h2 class="title">Please enter your new password.</h2>
            {{ form.non_field_errors }}

            <div>
                {{ form.new_password1.errors }}
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
            </div>

            <div>
                {{ form.new_password2.errors }}
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
            </div>

            <button class="btn">Change my password</button>
        </form>
    {% else %}
        <h2>This password reset link is invalid.</h2>
        <h3>Please request a new one.</h3>
    {% endif %}
{% endblock %}
