{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Edit address
{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'css/addresses/address_create_edit.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'addresses:edit' address.pk %}" class="form" method="post">
        {% csrf_token %}
        <h2 class="title">Edit the address.</h2>
        {{ form.non_field_errors }}
        {% include 'addresses/address_fields.html' %}
        <button class="btn">Edit</button>
    </form>
{% endblock %}
