<div class="fields">
    <div class="first-name">
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}
    </div>

    <div class="last-name">
        {{ form.last_name.errors }}
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{ form.last_name }}
    </div>

    <div class="phone-number">
        {{ form.phone_number.errors }}
        <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
        {{ form.phone_number }}
    </div>

    <div class="province">
        {{ form.province.errors }}
        <label for="{{ form.province.id_for_label }}">{{ form.province.label }}</label>
        {{ form.province }}
    </div>

    <div class="town-city">
        {{ form.town_city.errors }}
        <label for="{{ form.town_city.id_for_label }}">{{ form.town_city.label }}</label>
        {{ form.town_city }}
    </div>

    <div class="address">
        {{ form.address_line.errors }}
        <label for="{{ form.address_line.id_for_label }}">{{ form.address_line.label }}</label>
        {{ form.address_line }}
    </div>

    <div class="default">
        {{ form.default.errors }}
        <label for="{{ form.default.id_for_label }}">{{ form.default.label }}</label>
        {{ form.default }}
    </div>
</div>
