{% extends 'base.html' %}
{% load static %}

{% block title %}
    Address create
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/addresses/address_create_update.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'addresses:create' %}" method="post">
        {% csrf_token %}
        <h1>Create an address.</h1>
        {% include 'partials/form.html' with form=form %}
        <button class="btn">Create</button>
    </form>
{% endblock %}
