{% extends 'base/base.html' %}
{% load filters %}
{% load static %}

{% block title %}
    Product details
{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'css/products/product_details.css' %}">
{% endblock %}

{% block content %}
    <div class="images">
        {% with product.productimage_set.all|first as featured_image %}
            <div class="slider">
                <i class="fa-solid fa-circle-chevron-up chevron"></i>
                <div class="thumbnails-wrapper">
                    <img class="thumbnail active" src="{{ featured_image.image.url }}" alt="">
                    {% for product_image in product.productimage_set.all|slice:"1:" %}
                        <img class="thumbnail" src="{{ product_image.image.url }}" alt="">
                    {% endfor %}
                </div>
                <i class="fa-solid fa-circle-chevron-down chevron"></i>
            </div>
            <img id="featured" src="{{ featured_image.image.url }}" alt="">
        {% endwith %}
    </div>

    <div class="info">
        <h1 class="title">{{ product.name }}</h1>
        <p class="description">{{ product.description }}</p>
        <p class="price">Single price: <span class="value">{{ product.price }}$</span></p>
        <form action="#">
            <div>
                <label for="quantity-select">Quantity:</label>
                <select name="quantity" id="quantity-select">
                    {% for q in select_max_quantity|generate_range %}
                        <option value="{{ q }}">{{ q }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn">Add to basket</button>
        </form>
    </div>
{% endblock %}

{% block end_body_scripts %}
    <script src="{% static 'js/products/product_details_image_slider.js' %}"></script>
{% endblock %}
