{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock %} - Hrisim's store
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"/>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block additional_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body>
{% block start_body_scripts %}
{% endblock %}
{% include 'partials/header.html' %}
<main class="main">
    <div class="root">
        {% block content %}
        {% endblock %}
    </div>
</main>
{% include 'partials/footer.html' %}
{% block end_body_scripts %}
{% endblock %}
</body>
</html>
